---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import MailIcon from "../icons/Mail.astro";
import CodeIcon from "../icons/Code.astro";
import SocialPill from "../components/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio de Miguel Higuita - Desarrollador y programaddor web con 2 años de experiencia"
  description="Contrata a Miguel Higuita para crear tu aplicación web. Desarrollador especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="../../public/images/migue.jpeg"
        alt="migue photo"
      />
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Miguel Higuita <a
          href="https://www.linkedin.com/in/miguelhiguita/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+2 años de experiencia.</span>
        <span class="text-yellow-200/90">Desarrollador web - frontend</span>. <span
          class="text-red-200/90"
        >
          De Itagüí, Colombia 🇨🇴.</span
        >
        <span class="opacity-75">
          Especializado en crear aplicaciones únicas.
        </span>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/miguelhiguita/">
          <LinkedInIcon class="size-5 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Migue0123">
          <GitHubIcon class="size-5 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:higuita1900@gmail.com">
          <MailIcon class="size-5 md:size-6" />
          higuita1900@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
